body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869; 
} */

#root {
  height: 100%;
}

.app {
  height: calc(100% - 100px); 
}
